:root {
    /* text color */
    --main-text-color: #1E2E36;
    --accent-color: #44C697;
    --white-color: #FFFFFF;
    --gray-color: #BCBDBB;

    /* background color */
    --bg-out-color: #E5E5E5;
    --bg-sale-color: #FF1B1B;

    /* icon color */
    --icon-cl: #1E2E36;

    /* transition */
    --anim-standart: 3000ms cubic-bezier(0.4, 0, 0.2, 1);
}
