.benefits.section {
    padding-top: 100px;
}

// TITLE

.benefits__title-frame {
    position: relative;
    max-width: 338px;
    margin: 0 auto 52px auto;
}

.benefits__title {
    font-size: 48px;
    line-height: 125%;
}

.benefits__title-line {
    position: absolute;
    top: 50%;
    left: -5px;
    transform: translateY(-50%);
    height: 50px;
    width: 20px;
    background-color: var(--accent-color);
    z-index: -1;
}

// IMAGES

.benefits__images-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
}

.benefits__image-box {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.benefits__image-box:hover .benefits__img-overlay,
.benefits__image-box:focus .benefits__img-overlay {
    bottom: 0;
}
.benefits__image-box:hover .benefits__img-desc,
.benefits__image-box:focus .benefits__img-desc {
    opacity: 1;
}

.benefits__img-overlay {
    position: absolute;
    bottom: -20%;
    width: 100%;
    padding: 30px;
    transition: bottom var(--anim-standart);
}

.benefits__img-title {
    font-size: 36px;
    line-height: 125%;
    margin-bottom: 18px;
    color: var(--white-color);
    border-bottom: 3px solid var(--accent-color);

    @media screen and(max-width:1600px) {
        font-size: 30px;
        line-height: 100%;
    }

    @media screen and(max-width:1400px) {
        font-size: 24px;
        line-height: 100%;
    }
}

.benefits__img-title1 {
    width: 359px;

    @media screen and(max-width:1200px) {
        width: auto;
    }
}

.benefits__img-title2 {
    width: 181px;

    @media screen and(max-width:1200px) {
        width: auto;
    }
}

.benefits__img-title3 {
    width: 397px;

    @media screen and(max-width:1200px) {
        width: auto;
    }
}

.benefits__img-desc {
    opacity: 0;
    width: auto;
    height: 46px;
    font-size: 18px;
    line-height: 125%;
    color: var(--white-color);
    transition: opacity var(--anim-standart);

    @media screen and(max-width:1200px) {
        font-size: 10px;
        line-height: 100%;
    }
}

// ICONS

.benefits__link {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.benefits__link.left {
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    border: 1px solid var(--white-color);
    cursor: pointer;
}

.benefits__icon-left {
    fill: var(--white-color);
}

.benefits__link.right {
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    background-color: var(--white-color);
    cursor: pointer;
}

.benefits__icon-right {
    fill: var(--main-text-color);
}

