.footer.container {
    position: relative;
    padding: 0;
}

.footer__img {
    position: absolute;
    top: 0;
    right: 0;
}

.footer__field {
    width: 831px;
    height: 520px;
    padding: 50px 56px 13px 51px;
    background-color: var(--main-text-color);
}

// LOGO
.footer__logo {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 360px;
    margin-bottom: 50px;
}

.footer__logo-title {
    font-size: 36px;
    color: var(--white-color);
}

.footer__logo-title span {
    color: var(--accent-color);
}

// INTERNAL FIELD

.footer__field {
    position: relative;
}

.footer__internal-field {
    display: flex;
}

.internal-field__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.internal-field__list.products-list {
    margin-right: 55px;
}
.internal-field__list.info-list {
    margin-right: 87px;
}

.internal-field__item {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: var(--white-color);
    text-transform: uppercase;
}

.internal-field__item span {
    margin-right: 10px;
    color: var(--accent-color);
}

.info-about_connection {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

.footer__connection-map {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer__connection-data {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer__connection-tel {
    display: flex;
    gap: 5px;
}

.connection-map__icon {
    fill: var(--white-color);
}

.connection-map__link {
    font-size: 18px;
    line-height: 125%;
    text-transform: uppercase;
    color: var(--white-color);
    cursor: pointer;
}

.connection-data__icon {
    fill: var(--white-color);
}

.connection-data__link {
    font-size: 18px;
    line-height: 125%;
    color: var(--white-color);
    cursor: pointer;
}

.connection-tel__icon {
    fill: var(--main-text-color);
}

.connection-tel__links {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.connection-tel__link {
    color: var(--accent-color);
    cursor: pointer;
}

.info-about__messengers {
    width: 224px;
}

.info-about__messengers h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    margin-bottom: 5px;
    color: var(--white-color);
}

.messengers__list {
    display: flex;
    align-items: center;
    gap: 5px;
}

.messengers__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.messengers-icon {
    fill: var(--white-color);
}

// MAIN_LOGO

.main-logo__frame {
    position: absolute;
    bottom: 15px;
    right: 56px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.main-logo__icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-logo__text {
    font-size: 14px;
    line-height: 16px;
    color: var(--white-color);
}

.footer-arrow__frame {
    position: absolute;
    top: -9px;
    left: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--accent-color);
    border-radius: 50%;
    box-shadow: 0px 4px 12px rgba(130, 130, 130, 0.2);
}

.footer-arrow__icon {
    fill: var(--white-color);
}

.tov {
    position: absolute;
    bottom: 15px;
    left: 51px;
    font-size: 14px;
    line-height: 120%;
    color: var(--white-color);
}

