.header {
    height: 165px;

    @media screen and(max-width:1600px) {
        height: 140px;
    }
}

// ABOVE
.container-above {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--main-text-color);
}


// SOCIALE
.header__social {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header__messengers {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.header__messengers h3 {
    font-size: 18px;
    line-height: 125%;
    margin-right: 5px;

    @media screen and(max-width:1200px) {
        font-size: 14px;
        line-height: 100%;
    }

    @media screen and(max-width:1100px) {
        display: none;
    }
}

.social__list {
    display: flex;
    align-items: center;
    gap: 5px;
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-bottom: 3px solid var(--white-color);
    transition: border-color var(--anim-standart);

    @media screen and(max-width:1200px) {
        width: 30px;
        height: 30px;
    }
}

.social__icon {
    @media screen and(max-width:1200px) {
        width: 16px;
        height: 16px;
    }
}

.social__link:hover,
.social__link:focus {
    border-bottom: 3px solid var(--accent-color);
}

.social-tel-box {
    display: flex;
    align-items: center;
}

.social-tel-box__link {
    display: flex;
    align-items: center;
    color: var(--main-text-color);
    gap: 2px;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    padding: 6.5px 0;
    border-bottom: 3px solid var(--white-color);
    transition: border-color var(--anim-standart);

    @media screen and(max-width:1200px) {
        font-size: 14px;
        line-height: 100%;
    }
}

.social-tel-box__link:hover,
.social-tel-box__link:focus {
    border-bottom: 3px solid var(--accent-color);
}

.header__smartphone-icon {
    fill: var(--white-color);
}

.header__vector-icon {
    padding: 8px 5px;
}


// Navigation
.navigation__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.navigation__link {
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: var(--main-text-color);
    border-bottom: 3px solid var(--white-color);
    transition: border-color var(--anim-standart);

    @media screen and(max-width:1420px) {
        font-size: 14px;
        line-height: 100%;
    }
}

.current {
    border-bottom: 3px solid var(--accent-color);
}

.navigation__link:hover,
.navigation__link:focus {
    border-bottom: 3px solid var(--accent-color);
}


// BELOW
.container-below {
    display: flex;
    align-items: center;
}

// catalog

.catalog {
    margin-right: 115px;

    @media screen and(max-width: 1600px) {
        margin-right: 55px;
    }
}

.catalog__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.catalog__link {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: var(--main-text-color);
    gap: 5px;
    transition: border-color var(--anim-standart);

    @media screen and(max-width:1420px) {
        font-size: 14px;
        line-height: 100%;
    }
}

.catalog__link svg {
    margin-bottom: 3px;
}

.catalog__link span {
    border-bottom: 3px solid var(--white-color);
}

.catalog__link:hover span,
.catalog__link:focus span {
    border-bottom: 3px solid var(--accent-color);
}

// LOGO
.logo {
    display: flex;
    align-items: center;
    gap: 15px;

    @media screen and (max-width:1200px) {
        display: none;
    }
}

.logo__icon {
    @media screen and (max-width:1600px) {
        width: 85px;
        height: 50px;
    }

    @media screen and (max-width:1420px) {
        width: 65px;
        height: 40px;
    }
}

.logo__title {
    font-size: 36px;

    @media screen and (max-width:1600px) {
        font-size: 26px;
    }

    @media screen and (max-width:1420px) {
        font-size: 20px;
    }
}

.logo__title span {
    color: var(--accent-color);
}

// REQUEST
.request {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 30px;
}

.request__cart-frame {
    display: flex;
    align-items: center;
    color: var(--main-text-color);
    gap: 5px;
    padding: 6.5px 0;
    border-bottom: 3px solid var(--white-color);
}

.request__cart-frame:hover,
.request__cart-frame:focus {
    border-bottom: 3px solid var(--accent-color);
    transition: border-color var(--anim-standart);
}

.request__cart-frame svg {
    @media screen and(max-width:1420px) {
        width: 24px;
        height: 24px;
    }
}

.request__cart-frame h3 {
    font-size: 18px;
    line-height: 125%;

    @media screen and(max-width:1420px) {
        font-size: 14px;
        line-height: 100%;
    }
}

.request__btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    padding: 14px 46px;
    color: var(--white-color);
    background-color: var(--accent-color);
    border-radius: 3px;
    cursor: pointer;

    @media screen and(max-width:1420px) {
        font-size: 14px;
        line-height: 100%;
        padding: 12px 30px;
    }
}

